@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/globals.css */

main {
  font-family: "PT Serif", serif;
}

/* Remover bordas por padrão */
* {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: transparent;
}
